<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="effector" params="parent prefix">

  <link name="${prefix}ft_sensor"/>
  <joint name="${prefix}joint_tool0-ft_sensor" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.025"/>
      <parent link="${prefix}${parent}"/>
      <child link="${prefix}ft_sensor"/>
      <axis xyz="0 0 0"/>
  </joint>

  </xacro:macro>
</robot>
